.contain{
    height: auto;
    width: 100%;
    background-color: #1b262c;
    padding: 20px;
}

.content{
    border: 2px #fff solid;
    display: flex;
}

img{
    width: 200px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px;
}

img{
    transition: color .5s;
}
img:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.col-sm{
    height: auto;
    border-radius: 32px;
    margin-bottom: 9px;
    border: 2px #e4e4e4 solid;
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
}

.profile-github p{
    font-size: 20px;
    color: #fff;
}
.profile-github{
    text-align: center;
    width: 70vh;
    padding: 25px;
}

button{
    border: none;
}

.col-sm h3{
    color: #fff;
    margin-bottom: 15px;
}

.col-sm p{
    color: #fff;
}

.column{
    width: 100%;
}

.more-repo{
    width: auto;
    padding: 20px;
}

.text{
    margin-left: 20px;
}