.contain{
    height: auto;
    width: 100%;
    background-color: #1b262c;
    padding: 20px;
}

.content{
    display: flex;
    margin-top: 7px;
}

img{
    width: 200px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px;
}

img{
    transition: color .5s;
}
img:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.col-sm{
    height: auto;
    border-radius: 32px;
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.64);
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    background-color: #212529;
    margin: 15px;
}

.profile-github p{
    font-size: 20px;
    color: #fff;
}
.profile-github{
    text-align: center;
    width: 70vh;
    height: 30vh;
    padding: 20px;
    margin-left: 25px;
    background-color: #212529;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.64);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    border: none;
}

.profile-github button a{
    color: #fff;
}

.col-sm h3{
    color: #fff;
    margin-bottom: 15px;
}

.col-sm p{
    color: #fff;
}

.column{
    width: 100%;
}
.scroll{
    overflow: scroll;
    overflow-x: hidden;
    height: 85vh;
    padding-right: 26px;
}
.scroll::-webkit-scrollbar{
    height: 100%;
    width: 5px;
}
.scroll::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #e9e9e9;
}


.more-repo{
    width: auto;
    padding: 20px;
}

.text{
    margin-left: 20px;
}

button .icon{
    margin-right: 5px;
}

.form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vh;
    text-align: center;
    padding: 20px;
    /*border: 2px #fff solid;*/
    margin-left: 25px;
    margin-top: 15px;
}

.form{
    width: 100%;
}
.form input{
    margin-bottom: 12px;
    border: none;
}
.form textarea{
    border: none;
}
.form-group h3{
    margin-bottom: 15px;
    color: #ededed;
}
.form-group button{
    margin-top: 12px;
}